{{>header}}
{{>navbar}}
    <div class="jumbotron">
        <!--<h1 class="display-4">Hello, {{capitalizar nombre }}!</h1>-->
        <h1>HOLA FAMILIA</h1>
        <p class="lead">
                provando como se ve en la red vamos a ver como evoluciona esto XD
                        </p>
        <img src="assets/img/perro.jpg" class="img-thumbnail">
        <hr class="my-4" />
        <p>
            It uses utility classes for typography and spacing to space content out
            within the larger container.
        </p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
{{>footer}}